{% load compress %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
{#        {% compress css %}#}
{#        <link rel="stylesheet" href="{% static 'output.css' %}">#}
{#        {% endcompress %}#}

        <title>Snacks</title>
    </head>
    <body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'snack_list' %}">Home</a>
            </li>
        </ul>
    </nav>


        {% block content %}
            <h1>Missing Content, hi!</h1>
        {% endblock content %}
    </body>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>#}
</html>
